* {
  margin: 0;
  padding: 0;
  font-family: Impact;
}
/*html { 
  font-size: 62.5%;
}*/
.flex-container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: column;
  padding: 60px;
  text-align: center;
  color: whitesmoke;
  font-size: 30px; /* szazalekos noveles */
  background-image: url("/resources/images/header.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
}
.headerspans {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5px;
  flex-wrap: wrap;
}
.calculation {
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: 5px;
  flex-wrap: wrap;
}

#calculated-budget {
  text-align: center;
  color: #bebebe;
  font-size: 70px;
}

.income {
  display: block;
  margin: auto;
  background: #25b1ac;
  color: #505050;
  max-width: 250px;
  height: 30px;
  max-height: 150px;
  min-width: 100px;
  width: 100%;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
#income-text {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
#income-value {
  display: inline;
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  color: #e0e0e0;
}

.expenses {
  display: block;
  background: #ff3c38;
  color: #505050;
  max-width: 250px;
  height: 30px;
  max-height: 150px;
  min-width: 150px;
  width: 100%;
  margin: auto;
  margin-top: 10px;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
#expenses-text {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}
#expenses-value {
  display: inline;
  float: right;
  margin-right: 30px;
  margin-top: 5px;
  color: #e0e0e0;
}

.add-section {
  display: flex;
  align-items: center;
  gap: 100px;
  justify-content: center; /* vizszintesen igazitja a flexbox elemeit */
  background-color: #e8e8e8;
  min-height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;
}

/* Select div */

/*To remove button from IE11, thank you Matt */
select::-ms-expand {
  display: none;
}

#inputs:after {
  font: 17px "Consolas", monospace;
  color: #333;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  /*Adjust for position however you want*/

  top: 18px;
  padding: 0 0 2px;
  /*left line */

  position: absolute;
  pointer-events: none;
}

#inputs select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  border-radius: 5px;
  border-color: #25b1ac;
  display: inline;
  max-width: 60px;
  height: 50px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-image: none;
  -ms-word-break: normal;
  word-break: normal;
}
/* End of select div */

#description {
  padding: 10px;
  display: inline-block;
  height: 27px;
  border: 3px;
  border-radius: 5px;
  width: 40%;
  min-width: 20%;
}

#inputValue {
  padding: 10px;
  display: inline-block;
  height: 27px;
  width: 13%;
  min-width: 7%;
  border-radius: 5px;
  border: 3px;
}

#addButton {
  padding: 10px;
  height: 48px;
  background-color: white;
  border-radius: 5px;
  color: #505050;
  border: 1px solid #25b1ac;
  display: inline-block;
}

/********************************* CONTENT *********************************/

.content {
  display: flex;
  gap: 30%; /*eltolas az inline elemek kozott*/
  justify-content: center;
  background-color: white;
  min-height: 200px;
  margin-top: 1%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#inputs {
  display: flex;
  gap: 30px;
}

/* Cards */
/* Float four columns side by side */

/* Remove extra left and right margins, due to padding */

/* Clear floats after the columns */
#row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.cardforincome {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 7px;
  background-color: #f1f1f1;
  text-align: left;
}

.cardforincome:hover > #xButton {
  display: inline-block;
  max-height: 20px;
}
.cardforexpenses:hover > #xButton {
  display: inline-block;
  max-height: 20px;
}

.cardforexpenses {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 7px;
  background-color: #f1f1f1;
  text-align: left;
}

.incomediv,
.expensesdiv {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
}

.descText {
  display: inline-block;
  font-size: large;
  color: #484848;
  flex-grow: 7;
}

.priceTextI {
  display: inline-block;
  color: #25b1ac;
  flex-grow: 1;
  text-align: center;
}

.xButton {
  display: none;
  border: none;
  flex-grow: 0.1;
  right: 15px;
  top: 15px;
  width: 15px;
  height: 15px;
  opacity: 0.3;
}
.xButton:hover {
  opacity: 1;
}
.xButton:before,
.xButton:after {
  position: absolute;
  content: " ";
  height: 15px;
  width: 1.2px;
  margin-top: -7px;
  background-color: #333;
}
.xButton:before {
  transform: rotate(45deg);
}
.xButton:after {
  transform: rotate(-45deg);
}
.priceTextE {
  display: inline-block;
  color: #ff3c38;
  flex-grow: 1;
  text-align: center;
}
#incomeh2 {
  display: inline;
  color: #25b1ac;
  margin-top: 5%;
  border-bottom-style: solid;
}

#expensesh2 {
  display: inline;
  color: #ff3c38;
  margin-top: 5%;
  border-bottom-style: solid;
}

/******************* FOOTER*******************/
.footer {
  height: 30%;
  display: flex;
  flex-direction: row;
  background-color: #25b1ac;
  margin-top: 1%;
  color: #505050;
  padding: 3%;
  padding-bottom: 10px;
}
.aboutUs {
  width: 40%;
}
.aboutUsContent {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin-top: 4%;

  text-justify: inter-word;
  transition: 0.3s;
}

.contactUsContent {
  margin-top: 4%;
}
.helpContent {
  margin-top: 4%;
  max-width: 100%;
}

.contactUs {
  margin-left: 7%;
  max-width: 30%;
}

#sendMail {
  color: black;
  background-color: #25b1ac;
  border: none;
  font-size: 25px;
  transition: 0.3s;
}
#sendMail:hover {
  color: #e8e8e8;
}
#ush2 {
  color: black;
  max-width: 200px;
  font-size: 40px;
}
#ush2:hover {
  color: #ff3c38;
}

.help {
  margin-left: 7%;
  max-width: 25%;
}

.socialNetwork {
  display: flex;
  flex-direction: row;
  gap: 6%;
  flex-wrap: wrap;
  font-size: 32px;
  text-align: justify;
}

#weare {
  font-size: 20px;
  margin-top: 5%;
}
#personal-contact {
  display: inline-block;
  font-family: Arial;
  margin-left: 3px;
}
a {
  color: #333;
}
a:hover {
  color: #ff3c38;
}

.last-element {
  background-color: #222;
  color: #e0e0e0;
  height: 50px;

  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
